:root {
  --blackish-green: rgba(17, 34, 17, 1);
  --cards-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  --mint-green: rgba(141, 211, 187, 1);
  --montserrat-medium-14px-font-family: "Montserrat-Medium", Helvetica;
  --montserrat-medium-14px-font-size: 14px;
  --montserrat-medium-14px-font-style: normal;
  --montserrat-medium-14px-font-weight: 500;
  --montserrat-medium-14px-letter-spacing: 0px;
  --montserrat-medium-14px-line-height: normal;
  --montserrat-regular-14px-font-family: "Montserrat-Regular", Helvetica;
  --montserrat-regular-14px-font-size: 14px;
  --montserrat-regular-14px-font-style: normal;
  --montserrat-regular-14px-font-weight: 400;
  --montserrat-regular-14px-letter-spacing: 0px;
  --montserrat-regular-14px-line-height: normal;
  --montserrat-regular-16px-font-family: "Montserrat-Regular", Helvetica;
  --montserrat-regular-16px-font-size: 16px;
  --montserrat-regular-16px-font-style: normal;
  --montserrat-regular-16px-font-weight: 400;
  --montserrat-regular-16px-letter-spacing: 0px;
  --montserrat-regular-16px-line-height: normal;
  --montserrat-semibold-14px-font-family: "Montserrat-SemiBold", Helvetica;
  --montserrat-semibold-14px-font-size: 14px;
  --montserrat-semibold-14px-font-style: normal;
  --montserrat-semibold-14px-font-weight: 600;
  --montserrat-semibold-14px-letter-spacing: 0px;
  --montserrat-semibold-14px-line-height: normal;
  --montserrat-semibold-16px-font-family: "Montserrat-SemiBold", Helvetica;
  --montserrat-semibold-16px-font-size: 16px;
  --montserrat-semibold-16px-font-style: normal;
  --montserrat-semibold-16px-font-weight: 600;
  --montserrat-semibold-16px-letter-spacing: 0px;
  --montserrat-semibold-16px-line-height: normal;
  --neutrals: rgba(255, 255, 255, 1);
  --neutralsgray-2: rgba(210, 209, 211, 1);
  --neutralsgray-5: rgba(143, 140, 145, 1);
  --neutralswhite: rgba(255, 255, 255, 1);
  --purewhite: rgba(255, 255, 255, 1);
  --redish-pink: rgba(253, 115, 110, 1);
  --regular-16-px-font-family: "Manrope-Regular", Helvetica;
  --regular-16-px-font-size: 16px;
  --regular-16-px-font-style: normal;
  --regular-16-px-font-weight: 400;
  --regular-16-px-letter-spacing: 0px;
  --regular-16-px-line-height: normal;
}
