.button {
  all: unset;
  align-items: flex-start;
  box-sizing: border-box;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.button .frame {
  align-items: center;
  border-radius: 4px;
  gap: 4px;
  justify-content: center;
  position: relative;
}

.button .div-2 {
  font-family: var(--montserrat-medium-14px-font-family);
  font-size: var(--montserrat-medium-14px-font-size);
  font-style: var(--montserrat-medium-14px-font-style);
  font-weight: var(--montserrat-medium-14px-font-weight);
  letter-spacing: var(--montserrat-medium-14px-letter-spacing);
  line-height: var(--montserrat-medium-14px-line-height);
  position: relative;
  width: fit-content;
}

.button .div-3 {
  font-family: var(--montserrat-medium-14px-font-family);
  font-size: var(--montserrat-medium-14px-font-size);
  font-style: var(--montserrat-medium-14px-font-style);
  font-weight: var(--montserrat-medium-14px-font-weight);
  letter-spacing: var(--montserrat-medium-14px-letter-spacing);
  line-height: var(--montserrat-medium-14px-line-height);
  position: relative;
  width: fit-content;
}

.button .class {
  height: 24px !important;
  margin-left: -4px !important;
  margin-right: -4px !important;
  position: relative !important;
  width: 24px !important;
}

.button .class-2 {
  height: 20px !important;
  margin-left: -2px !important;
  margin-right: -2px !important;
  position: relative !important;
  width: 20px !important;
}

.button .add-outline {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.button .div-4 {
  font-family: var(--montserrat-medium-14px-font-family);
  font-size: var(--montserrat-medium-14px-font-size);
  font-style: var(--montserrat-medium-14px-font-style);
  font-weight: var(--montserrat-medium-14px-font-weight);
  letter-spacing: var(--montserrat-medium-14px-letter-spacing);
  line-height: var(--montserrat-medium-14px-line-height);
  position: relative;
  width: fit-content;
}

.button.outlined {
  display: inline-flex;
}

.button.right {
  display: inline-flex;
}

.button.pressed {
  display: inline-flex;
}

.button.hover {
  display: inline-flex;
}

.button.small {
  display: inline-flex;
}

.button.focus {
  border-radius: 4px;
  display: inline-flex;
}

.button.medium {
  display: inline-flex;
}

.button.left {
  display: inline-flex;
}

.button.ghost {
  display: inline-flex;
}

.button.disable {
  display: inline-flex;
}

.button.none {
  display: inline-flex;
}

.button.focus.outlined {
  border: 1px solid;
  border-color: var(--mint-green);
}

.button.filled.focus {
  border: 1px solid;
  border-color: var(--mint-green);
}

.button.hover.small.none.filled {
  background-color: #9ae0c8;
}

.button.pressed.small.none.filled {
  background-color: #81cbb1;
}

.button.default.filled.large.icon-only {
  display: flex;
  width: 48px;
}

.button.outlined .frame {
  border: 1px solid;
}

.button.right .frame {
  display: inline-flex;
}

.button.large .frame {
  height: 48px;
}

.button.small .frame {
  display: inline-flex;
  height: 32px;
}

.button.medium .frame {
  display: inline-flex;
  height: 40px;
}

.button.left .frame {
  display: inline-flex;
}

.button.none .frame {
  display: inline-flex;
}

.button.right.ghost .frame {
  padding: 8px 0px;
}

.button.left.outlined .frame {
  padding: 8px 16px;
}

.button.hover.filled .frame {
  background-color: #9ae0c8;
  display: inline-flex;
}

.button.default.filled .frame {
  background-color: var(--mint-green);
}

.button.none.outlined .frame {
  padding: 8px 16px;
}

.button.focus.outlined .frame {
  border-color: var(--mint-green);
  display: inline-flex;
}

.button.hover.outlined .frame {
  border-color: #9ae0c8;
  display: inline-flex;
}

.button.filled.focus .frame {
  background-color: #a5ebd3;
  border: 1px solid;
  border-color: var(--purewhite);
  display: inline-flex;
}

.button.disable.filled .frame {
  background-color: var(--neutralsgray-2);
  display: inline-flex;
}

.button.right.outlined .frame {
  padding: 8px 16px;
}

.button.left.ghost .frame {
  padding: 8px 0px;
}

.button.pressed.filled .frame {
  background-color: #81cbb1;
  display: inline-flex;
}

.button.small.icon-only .frame {
  padding: 8px;
}

.button.left.filled .frame {
  padding: 8px 16px;
}

.button.large.filled .frame {
  padding: 8px 16px;
}

.button.disable.outlined .frame {
  border-color: var(--neutralsgray-2);
  display: inline-flex;
}

.button.pressed.outlined .frame {
  border-color: #81cbb1;
  display: inline-flex;
}

.button.default.outlined .frame {
  border-color: var(--mint-green);
}

.button.none.filled .frame {
  padding: 8px 16px;
}

.button.right.filled .frame {
  padding: 8px 16px;
}

.button.large.outlined .frame {
  padding: 8px 16px;
}

.button.ghost.none .frame {
  padding: 8px 0px;
}

.button.medium.icon-only .frame {
  padding: 8px 12px;
}

.button.default.large.icon-only .frame {
  display: flex;
}

.button.ghost.large.icon-only .frame {
  display: flex;
  padding: 8px;
  width: 48px;
}

.button.default.outlined.large.icon-only .frame {
  width: 48px;
}

.button.default.filled.large.icon-only .frame {
  align-self: stretch;
  width: 100%;
}

.button.small .div-2 {
  margin-top: -1.5px;
}

.button.focus .div-2 {
  color: var(--blackish-green);
}

.button.default .div-2 {
  color: var(--blackish-green);
}

.button.disable .div-2 {
  color: var(--neutralsgray-5);
}

.button.hover.filled .div-2 {
  color: var(--blackish-green);
}

.button.pressed.outlined .div-2 {
  color: var(--blackish-green);
}

.button.hover.ghost .div-2 {
  color: #9ae0c8;
}

.button.pressed.ghost .div-2 {
  color: #81cbb1;
}

.button.hover.outlined .div-2 {
  color: var(--blackish-green);
}

.button.pressed.filled .div-2 {
  color: var(--blackish-green);
}

.button.small .div-3 {
  margin-top: -1.5px;
}

.button.focus .div-3 {
  color: var(--blackish-green);
}

.button.default .div-3 {
  color: var(--blackish-green);
}

.button.disable .div-3 {
  color: var(--neutralsgray-5);
}

.button.hover.filled .div-3 {
  color: var(--blackish-green);
}

.button.pressed.outlined .div-3 {
  color: var(--blackish-green);
}

.button.hover.ghost .div-3 {
  color: #9ae0c8;
}

.button.pressed.ghost .div-3 {
  color: #81cbb1;
}

.button.hover.outlined .div-3 {
  color: var(--blackish-green);
}

.button.pressed.filled .div-3 {
  color: var(--blackish-green);
}

.button.small .div-4 {
  margin-top: -1.5px;
}

.button.focus .div-4 {
  color: var(--blackish-green);
}

.button.default .div-4 {
  color: var(--blackish-green);
}

.button.disable .div-4 {
  color: var(--neutralsgray-5);
}

.button.hover.filled .div-4 {
  color: var(--blackish-green);
}

.button.pressed.outlined .div-4 {
  color: var(--blackish-green);
}

.button.hover.ghost .div-4 {
  color: #9ae0c8;
}

.button.pressed.ghost .div-4 {
  color: #81cbb1;
}

.button.hover.outlined .div-4 {
  color: var(--blackish-green);
}

.button.pressed.filled .div-4 {
  color: var(--blackish-green);
}
